<% if current_user.admin?%>
 <div id="content">
<h1>Bike rental Overview</h1>

<table>
  <thead>
    <tr>
      <th>User's Email</th>
      <th>Bookings made</th>
      <th>Total Spent</th>

    

    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%@count=0%>
  <%@totalspent=0%>
  <%@totalincome=0%>
<% Booking.distinct(:user_id).pluck(:user_id).each do |user_id|%>
  <tr>  
<% for user in @users %>
   
    <% if user_id == user.id%>
          <td><%=user.email%></td>
      <%end%>

      <%for booking in @bookings %>
          <% if user.id == booking.user_id%>
           <%@count += 1%>
            <%@totalspent += booking.total%>
            <%@totalincome += booking.total%>
          <%end%>
            

      <%end%>
    <%end%>
         <td><%= @count %></td>
          <td><%= @totalspent %> €</td>
         
   
<% end %>

      <%end%>
  </tr>
  </tbody>
  </table>
<strong>Total Income: <%=@totalincome%> €</strong>
  </div>