
<h2>How it Works?</h2>

<p>You must be sign up and create an account to book a bike</p>
<p>You must be logged in to see the bikes available</p>
<p>There are some extras feature you can add as you require such as:
Ligths or a basket. The Helmet is a requirement thus the city 
has implement a law that said every cyclist must wear a helmet.
If you want to add ligths to your booking it will cost you 5 euro plus the booking and for the basket it will cost you 10 euros plus the booking price. </p>
<p>You have an option to pay by card in our website, however you can pay by cash 
at collection in any station.</p>
